{% extends 'main.html' %}
{% block content %}
    <h1>{{ question.question_text }}</h1>
    {% if question.image %}
        <img class="w-25" src="{{ question.image.url }}" alt="Фото вопроса">
    {% endif %}

    <p>{{ question.description }}</p>

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <div>
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
            </div>
        {% endfor %}
        <input type="submit" value="Голосовать">
    </form>
{% endblock %}